<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" type="image/png" href="./img/weather.png"/>
</head>
<body>


<div class="main-content">
    {{>header}}
    <p>This site was created using data from mapbox.com and darksky.net</p>
    <img src="./img/robot.png" alt="" class="robot">
</div>





{{>footer}}
</body>
</html>
