<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" type="image/png" href="./img/weather.png"/>
</head>
<body>


<div class="main-content">
    {{>header}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis eligendi fugiat odio officia rem repudiandae sapiente veniam. Adipisci amet animi eum neque quasi sit totam. Delectus facere hic molestias quam!</p>
    <img src="./img/robot.png" alt="" class="robot">
</div>





{{>footer}}
</body>
</html>
