<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" type="image/png" href="./img/weather.png"/>
</head>
<body>



    <div class="main-content">
        {{>header}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, harum, sed. Officiis, reiciendis sint. Aperiam et eum, illo in inventore ipsam magnam nulla, pariatur possimus qui ratione sed sit voluptatibus!</p>
    </div>






    {{>footer}}
</body>
</html>
